.col {
    background-color: black;
    width: 50px;
    height: 100px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cl-1 {
    margin-top: 50px;
    margin-left: 100px;
}

.cl-2{
    margin-top: 50px;
    margin-left: 200px;
}

.cl-3 {
    margin-top: 50px;
    margin-left: 300px;
}

.cl-4 {
    margin-top: 50px;
    margin-left: 400px;
}

.cl-5 {
    margin-top: 50px;
    margin-left: 700px;
}